<a href="{{ node.url }}" {% if node.newWindow %} target="_blank" rel="noopener"{% endif %} {% for attribute in node.customAttributes %}{{ attribute.attribute }}="{{ attribute.value }}"{% endfor %} class="{% if node.active %}nav-active{% endif %} {{ node.classes }}" {% if node.speedbump is defined and node.speedbump %}data-speedbump="true"{% endif %}>
			<span>{{ node.title }}</span>
</a>