<article class="team-member">
	<div class="row">
	{% switch theme %}
		{% case "theme-1" %}
			{% set crop = {
			    mode: 'crop',
			    width: 200,
			    height: 200,
			    quality: 72,
			    position: 'center-center'
			} %}
			<div class="col-12 col-lg-auto">
				<img class="rounded" src="{{ entry.thumbnail.one.url(crop) }}" alt="{{ entry.title }}">
			</div>
			<div class="col-lg col-12">
				<h5>{{ entry.title }}</h5>
				{{ entry.body }}
			</div>
		{% case "theme-2" %}
			{% set crop = {
			    mode: 'crop',
			    width: 200,
			    height: 200,
			    quality: 72,
			    position: 'center-center'
			} %}
			<div class="col-12 col-lg-auto">
				<img class="rounded" src="{{ entry.thumbnail.one.url(crop) }}" alt="{{ entry.title }}">
			</div>
			<div class="col-lg col-12">
				<h5>{{ entry.title }}</h5>
				{{ entry.body }}
			</div>
		{% case "theme-3" %}
			{% set crop = {
			    mode: 'crop',
			    width: 200,
			    height: 200,
			    quality: 72,
			    position: 'center-center'
			} %}
			<div class="col-12 col-lg-auto">
				<img class="rounded" src="{{ entry.thumbnail.one.url(crop) }}" alt="{{ entry.title }}">
			</div>
			<div class="col-lg col-12">
				<h5>{{ entry.title }}</h5>
				{{ entry.body }}
			</div>

	{% endswitch %}
	</div>
</article>